<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>Human Resource Management</title>
  </head>
  <body>
  <!-- header -->
    <div th:replace="~{header :: header}">...</div>
  <!-- //header -->
    <main>
      <div class="button-group">
        <a th:href="@{/applications/listofjobofferstoreviewapplications/all}" class="btn btn-primary">Show all</a>
      </div>
      <div class="button-group">
        <a th:href="@{/applications/listofjobofferstoreviewapplications/open}" class="btn btn-primary">Show open</a>
      </div>
      <div class="button-group">
        <a th:href="@{/applications/listofjobofferstoreviewapplications/close}" class="btn btn-primary">Show closed</a>
      </div>
      <table>
        <thead>
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Required Level</th>
            <th scope="col">Requirement</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="jobOffer : ${jobOffersByStatus}">
            <td th:text="${jobOffer.name}"></td>
            <td th:text="${jobOffer.level}"></td>
            <td th:text="${jobOffer.requirement}"></td>
            <td th:text="${jobOffer.description}"></td>
            <td th:text="${jobOffer.status}"></td>
            <td><a th:href="@{'/applications/listofapplicationforms/process/' + ${jobOffer.jobOfferId}}">DETAILS</a></td>
          </tr>
        </tbody>
      </table>
    </main>
    <!-- footer block -->
      <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
  </body>
</html>
