<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>Human Resource Menagment</title>
  </head>
  <body>
  <!-- header -->
    <div th:replace="~{header :: header}">...</div>
  <!-- //header -->

    <main>
      <ul>
        <li th:each="error : ${#fields.errors('applicationFormQuery.*')}" th:text="${error}" />
      </ul>
      <form
              th:action="@{'/applications/updateapplicationform'}"
        method="post"
        th:object="${applicationFormQuery}"
      >
        <label >Imie:</label>
        <input type="text" th:attrappend="disabled=${applicationFormQuery.employmentStatus == 'Process' ?  null : 'disabled'}" th:field="*{firstName}" />

        <label >Nazwisko:</label>
        <input type="text" th:attrappend="disabled=${applicationFormQuery.employmentStatus == 'Process' ?  null : 'disabled'}" th:field="*{lastName}" />

        <label >Email:</label>
        <input type="text" th:attrappend="disabled=${applicationFormQuery.employmentStatus == 'Process' ?  null : 'disabled'}" th:field="*{email}" />

        <label >Numer Telefonu:</label>
        <input type="text" th:attrappend="disabled=${applicationFormQuery.employmentStatus == 'Process' ?  null : 'disabled'}" th:field="*{mobilePhone}"/>

        <label >Opis:</label>
        <input type="text" th:attrappend="disabled=${applicationFormQuery.employmentStatus == 'Process' ?  null : 'disabled'}" th:field="*{aboutYourself}"/>

        <label >Ulica:</label>
        <input type="text" th:attrappend="disabled=${applicationFormQuery.employmentStatus == 'Process' ?  null : 'disabled'}" th:field="*{streetAddress}"/>

        <label >Miasto:</label>
        <input type="text" th:attrappend="disabled=${applicationFormQuery.employmentStatus == 'Process' ?  null : 'disabled'}" th:field="*{city}"/>

        <label >Kraj:</label>
        <input type="text" th:attrappend="disabled=${applicationFormQuery.employmentStatus == 'Process' ?  null : 'disabled'}" th:field="*{country}"/>

        <label >Kod pocztowy:</label>
        <input type="text" th:attrappend="disabled=${applicationFormQuery.employmentStatus == 'Process' ?  null : 'disabled'}" th:field="*{zipCode}"/>


        <input type="hidden" name="applicationFormId" th:value="${applicationFormId}" />
        <input type="hidden" name="jobOfferId" th:value="${applicationFormQuery.jobOfferId}" />
        <input type="hidden" name="formAttachmentId" th:value="${formAttachmentId}" />
        <input type="hidden" name="employmentStatus" th:value="${applicationFormQuery.employmentStatus}" />

        <button th:if="*{employmentStatus == 'Process'}" name="action" value="updateData">UPDATE</button>
        <button th:if="*{employmentStatus == 'Process'}" name="action" value="denyApplicant">DENY</button>
        <button th:if="*{employmentStatus == 'Process'}" name="action" value="hireApplicant">HIRE</button>
        <a th:if="*{employmentStatus == 'Process'}" th:href="@{'/applications/download/' + ${formAttachmentId}}">
          Pobierz CV
        </a>
      </form>
    </main>

    <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
  </body>
</html>
