<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>Human Resource Management</title>
  </head>
  <body>
  <!-- header -->
    <div th:replace="~{header :: header}">...</div>
  <!-- //header -->

    <main>
      <ul>
        <li th:each="error : ${#fields.errors('submitApplicationCommand.*')}" th:text="${error}" />
      </ul>
      <div th:if="${errorMessage}" th:text="${errorMessage}" class="error"></div>

      <p th:if="${email}" th:text="${email}"></p>

      <form
              th:action="@{'/saveApplicationForm'}"
        method="post"
        th:object="${submitApplicationCommand}"
              enctype="multipart/form-data"
      >
        <label >First name:</label>
        <input type="text" th:field="*{firstName}" />

        <label >Last name:</label>
        <input type="text" th:field="*{lastName}" />

        <label >Address e-mail:</label>
        <input type="text" th:field="*{email}" />

        <label >Phone number:</label>
        <input type="text" th:field="*{mobilePhone}"/>

        <label >Street:</label>
        <input type="text" th:field="*{streetAddress}"/>

        <label >City:</label>
        <input type="text" th:field="*{city}"/>

        <label >Country:</label>
        <input type="text" th:field="*{country}"/>

        <label >Zip code:</label>
        <input type="text" th:field="*{zipCode}"/>

        <label >Description:</label>
        <textarea th:field="*{aboutYourself}" rows="4"></textarea>

        <label for="cv">CV (PDF):</label>
        <input type="file" id="cv" name="cv" accept=".pdf" />

        <input type="hidden" name="jobOfferId" th:value="${jobOfferId}" />

        <button >Send application</button>
      </form>
    </main>

    <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
  </body>
</html>
