<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>Human Resource Menagment</title>
  </head>
  <body>
  <!-- header -->
    <div th:replace="~{header :: header}">...</div>
  <!-- //header -->

    <main>
      <ul>
        <li th:each="error : ${#fields.errors('applicationForm.*')}" th:text="${error}" />
      </ul>
      <form
        th:action="@{'/saveApplicationForm'}"
        method="post"
        th:object="${applicationForm}"
      >
        <label >Imię:</label>
        <input type="text" th:field="*{firstName}" />

        <label >Nazwisko:</label>
        <input type="text" th:field="*{lastName}" />

        <label >Adres e-mail:</label>
        <input type="text" th:field="*{email}" />

        <label >Numer telefonu:</label>
        <input type="text" th:field="*{mobilePhone}"/>

        <label >Opis:</label>
        <textarea th:field="*{aboutYourself}" rows="4"></textarea>

        <label for="cv">CV (PDF lub DOCX):</label>
        <input type="file" id="cv" name="cv" accept=".pdf, .docx" />

        <input type="hidden" name="jobOfferId" th:value="${jobOfferId}" />

        <button >Wyślij zgłoszenie</button>
      </form>
    </main>

    <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
  </body>
</html>
