<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Human Resource Menagment</title>
  </head>
  <body>
  <!-- header -->
    <div th:replace="~{header :: header}">...</div>
  <!-- //header -->

    <main>
      <form
        th:action="@{/saveApplicationForm}"
        method="post"
      >
        <label for="firstName">Imię:</label>
        <input type="text" id="firstName" name="firstName" />

        <label for="lastName">Nazwisko:</label>
        <input type="text" id="lastName" name="lastName" />

        <label for="email">Adres e-mail:</label>
        <input type="text" id="email" name="email" />

        <label for="mobilePhone">Numer telefonu:</label>
        <input type="text" id="mobilePhone" name="mobilePhone" />

        <label for="aboutYourself">Opis:</label>
        <textarea
          id="aboutYourself"
          name="aboutYourself"
          rows="4"
        ></textarea>

        <label for="cv">CV (PDF lub DOCX):</label>
        <input type="file" id="cv" name="cv" accept=".pdf, .docx" />

        <button >Wyślij zgłoszenie</button>
      </form>
    </main>

    <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
  </body>
</html>
