<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>Human Resource Menagment</title>
  </head>
  <body>
  <!-- header -->
    <div th:replace="~{header :: header}">...</div>
  <!-- //header -->

    <main class="dash-main">
      <div class="dash-main-greet">
        <h2 th:text="${'Witaj - ' + username}"></h2>
      </div>
      <div class="dash-main-panel">
        <div class="dash-box" sec:authorize="isAuthenticated()">
          <a class="dash-box-text" th:href="@{/managementjoboffers}">Job</a>
        </div>
        <div class="dash-box">
          <a class="dash-box-text" href="">Applications</a>
        </div>
        <div class="dash-box">
          <a class="dash-box-text" href="">Employee</a>
        </div>
      </div>
    </main>

  <!-- footer block -->
    <div th:replace="~{footer :: footer}">...</div>
  <!-- //footer block -->
  </body>
</html>
