<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
  <h1>Human Resource Menagment</h1>
  <nav>
    <ul>
      <li>
        <a th:href="@{/home}" >Home</a>
      </li>
      <li>
        <a th:href="@{/joboffer}" >Career</a>
      </li>
      <li>
        <a th:href="@{/dashboard}" >Dashboard</a>
      </li>
      <li>
        <a href="login.html">Log in</a>
      </li>
      <li>
        <a href="logout.html">Log out</a>
      </li>
    </ul>
  </nav>
</header>
</body>
</html>