<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Human Resource Menagment</title>
  </head>
  <body>
  <!-- header -->
    <div th:replace="~{header :: header}">...</div>
  <!-- //header -->
    <main>
      <table>
        <thead>
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Required Level</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="jobOffer : ${jobOffers}">
            <td th:text="${jobOffer.name}"></td>
            <td th:text="${jobOffer.level}"></td>
            <td><a th:href="@{/application}">APPLAY</a></td>
          </tr>
        </tbody>
      </table>
    </main>
    <!-- footer block -->
      <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
  </body>
</html>
