<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>Human Resource Menagment</title>
  </head>
  <body>
  <!-- header -->
    <div th:replace="~{header :: header}">...</div>
  <!-- //header -->

    <main>
      <form
              th:action="@{'/admin/savenewuser'}"s
        method="post"
        th:object="${newUserCommand}"
      >
        <label>Imie:</label>
        <input type="text" th:field="*{firstName}" />

        <ul th:each="error: ${#fields.errors('firstName')}">
          <li th:each="message : ${error}">
            <p th:text="${message}"></p>
          </li>
        </ul>

        <label>Nazwisko:</label>
        <input type="text" th:field="*{lastName}" />

        <ul th:each="error: ${#fields.errors('lastName')}">
          <li th:each="message : ${error}">
            <p th:text="${message}"></p>
          </li>
        </ul>

        <label>Email:</label>
        <input type="text" th:field="*{email}" />

        <ul th:each="error: ${#fields.errors('email')}">
          <li th:each="message : ${error}">
            <p th:text="${message}"></p>
          </li>
        </ul>

        <label>Hasło:</label>
        <input type="text" th:field="*{identification.pwd}" />

        <ul th:each="error: ${#fields.errors('identification.pwd')}">
          <li th:each="message : ${error.split(',')}">
            <p th:text="${message}"></p>
          </li>
        </ul>

        <label>Podtwierdź hasło:</label>
        <input type="text" th:field="*{identification.confirmPwd}" />

        <ul th:each="error: ${#fields.errors('identification')}">
          <li th:each="message : ${error}">
            <p th:text="${message}"></p>
          </li>
        </ul>

        <label >Status:</label>
        <select id="status" name="status" th:field="*{role.roleName}">
          <option th:each="role : ${userRoleOptions}" th:value="${role}" th:text="${role}"></option>
        </select>

        <button >CREATE</button>
      </form>
    </main>

    <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
  </body>
</html>
