<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>Human Resource Management</title>
  </head>
  <body>
  <!-- header -->
    <div th:replace="~{header :: header}">...</div>
  <!-- //header -->

    <main class="dash-main">
      <div class="dash-main-greet">
        <h2 th:text="${'Witaj - ' + username}"></h2>
        <p th:text="${'You logged in as - ' + role}"></p>
      </div>
      <div class="dash-main-panel">
        <div class="dash-box" sec:authorize="hasAnyRole('ROLE_RECRUITMENT_SPECIALIST', 'ROLE_MANAGER')">
          <a class="dash-box-text" th:href="@{/joboffer/listofjoboffers}">Manage job offers</a>
        </div>
        <div class="dash-box" sec:authorize="hasAnyRole('ROLE_RECRUITMENT_SPECIALIST', 'ROLE_MANAGER')">
          <a class="dash-box-text" th:href="@{/applications/listofjobofferstoreviewapplications/all}">Manage application forms</a>
        </div>
        <div class="dash-box" sec:authorize="hasAnyRole('ROLE_RECRUITMENT_SPECIALIST', 'ROLE_MANAGER')">
          <a class="dash-box-text" th:href="@{/employee/listofemployee}">Employee</a>
        </div>
        <div class="dash-box" sec:authorize="hasAnyRole('ROLE_RECRUITMENT_SPECIALIST', 'ROLE_MANAGER')">
          <a class="dash-box-text" th:href="@{'/profile/displayprofile/' + ${hrUserId}}">Profile</a>
        </div>
        <div class="dash-box" sec:authorize="hasRole('ROLE_ADMIN')">
          <a class="dash-box-text" th:href="@{/user/listofusers}">Users</a>
        </div>
      </div>
    </main>

  <!-- footer block -->
    <div th:replace="~{footer :: footer}">...</div>
  <!-- //footer block -->
  </body>
</html>
