<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>Human Resource Menagment</title>
  </head>
  <body>
  <!-- header -->
    <div th:replace="~{header :: header}">...</div>
  <!-- //header -->
    <main>
      <div class="button-group" sec:authorize="isAuthenticated()">
        <a th:href="@{/admin/createnewhruser}" class="btn btn-primary">Dodaj nowego użytkownika</a>
      </div>
      <table>
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${listOfUsersQuery}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.roleName}"></td>
            <td><a th:href="@{'/admin/displaydetalishruser/' + ${user.userId}}">DETAILS</a></td>
          </tr>
        </tbody>
      </table>
    </main>
    <!-- footer block -->
      <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
  </body>
</html>
