<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>Human Resource Menagment</title>
  </head>
  <body>
  <!-- header -->
    <div th:replace="~{header :: header}">...</div>
  <!-- //header -->

    <main>
      <ul>
        <li th:each="error : ${#fields.errors('applicationFormQuery.*')}" th:text="${error}" />
      </ul>
      <form
              th:action="@{'/admin/updateapplicationform'}"
        method="post"
        th:object="${applicationFormQuery}"
      >
        <label >Imie:</label>
        <input type="text" th:field="*{firstName}" />

        <label >Nazwisko:</label>
        <input type="text" th:field="*{lastName}" />

        <label >Email:</label>
        <input type="text" th:field="*{email}" />

        <label >Numer Telefonu:</label>
        <input type="text" th:field="*{mobilePhone}"/>

        <label >Opis:</label>
        <input type="text" th:field="*{aboutYourself}"/>

        <label >Status:</label>
        <select id="status" name="status" th:field="*{employmentStatus}">
          <option th:each="statusOption : ${applicationEmploymentStatusOptions}" th:value="${statusOption}" th:text="${statusOption}"></option>
        </select>

        <label >Ulica:</label>
        <input type="text" th:field="*{address.streetAddress}"/>

        <label >Miasto:</label>
        <input type="text" th:field="*{address.city}"/>

        <label >Kraj:</label>
        <input type="text" th:field="*{address.country}"/>

        <label >Kod pocztowy:</label>
        <input type="text" th:field="*{address.zipCode}"/>

        <input type="hidden" name="applicationFormId" th:value="${applicationFormId}" />
        <input type="hidden" name="jobOfferId" th:value="${applicationFormQuery.jobOfferId}" />

        <button >UPDATE</button>
      </form>
    </main>

    <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
  </body>
</html>
