<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>Human Resource Menagment</title>
  </head>
  <body>
  <!-- header -->
    <div th:replace="~{header :: header}">...</div>
  <!-- //header -->

    <main>
      <form
              th:action="@{'/savenewpassword'}"
        method="post"
        th:object="${newPassword}"
      >
        <label>Hasło:</label>
        <input type="text" th:field="*{pwd}" />

        <ul th:each="error: ${#fields.errors('pwd')}">
          <li th:each="message : ${error.split(',')}">
            <p th:text="${message}"></p>
          </li>
        </ul>

        <label>Podtwierdź hasło:</label>
        <input type="text" th:field="*{confirmPwd}" />

        <ul th:each="error: ${#fields.errors('*')}">
          <li th:each="message : ${error}">
            <p th:text="${message}"></p>
          </li>
        </ul>

        <button >SAVE</button>
      </form>
    </main>

    <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
  </body>
</html>
