<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>Human Resource Management</title>
  </head>
  <body>
  <!-- header -->
    <div th:replace="~{header :: header}">...</div>
  <!-- //header -->

    <main>
      <ul>
        <li th:each="error : ${#fields.errors('newEmployeeCommand.*')}" th:text="${error}" />
      </ul>
      <div th:if="${errorMessage}" th:text="${errorMessage}" class="error"></div>
      <form
              th:action="@{'/employee/saveneemployee'}"
        method="post"
        th:object="${newEmployeeCommand}"
              enctype="multipart/form-data"
      >
        <label>First name:</label>
        <input type="text" th:field="*{firstName}" />

        <label>Last name:</label>
        <input type="text" th:field="*{lastName}" />

        <label>Email:</label>
        <input type="text" th:field="*{email}" />

        <label>Phone number:</label>
        <input type="text" th:field="*{mobilePhone}" />

        <label>Position name:</label>
        <input type="text" th:field="*{position_name}" />

        <label>Street:</label>
        <input type="text" th:field="*{address.streetAddress}" />

        <label>City:</label>
        <input type="text" th:field="*{address.city}" />

        <label>Country:</label>
        <input type="text" th:field="*{address.country}" />

        <label>Zip code:</label>
        <input type="text" th:field="*{address.zipCode}" />

        <label >Employee source:</label>
        <select id="status" name="status" th:field="*{sourceType}">
          <option th:each="typeOfEmploymentSource : ${typeOfEmploymentSourceOptions}" th:value="${typeOfEmploymentSource}" th:text="${typeOfEmploymentSource}"></option>
        </select>

        <label for="cv">CV (PDF):</label>
        <input type="file" id="cv" name="cv" accept=".pdf" />

        <button >CREATE</button>
      </form>
    </main>

    <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
  </body>
</html>
