<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>Human Resource Menagment</title>
  </head>
  <body>
  <!-- header -->
    <div th:replace="~{header :: header}">...</div>
  <!-- //header -->

    <main>
      <ul>
        <li th:each="error : ${#fields.errors('employeeQuery.*')}" th:text="${error}" />
      </ul>
      <form
              th:action="@{'/employee/updateemployee'}"
        method="post"
        th:object="${employeeQuery}"
      >
        <label >Imie:</label>
        <input type="text" th:field="*{firstName}" />

        <label >Nazwisko:</label>
        <input type="text" th:field="*{lastName}" />

        <label >Email:</label>
        <input type="text" th:field="*{email}" />

        <label >Numer Telefonu:</label>
        <input type="text" th:field="*{mobilePhone}"/>

        <label >Nazwa stanowiska:</label>
        <input type="text" th:field="*{position_name}"/>

        <label >Ulica:</label>
        <input type="text" th:field="*{address.streetAddress}"/>

        <label >Miasto:</label>
        <input type="text" th:field="*{address.city}"/>

        <label >Kraj:</label>
        <input type="text" th:field="*{address.country}"/>

        <label >Kod pocztowy:</label>
        <input type="text" th:field="*{address.zipCode}"/>

        <label >Employee source:</label>
        <input type="text" th:attrappend="disabled=${'disabled'}" th:field="${employeeSourceQuery.sourceType}"/>

        <input type="hidden" name="employeeId" th:value="${employeeId}" />

        <button name="action" value="updateData">UPDATE</button>
        <button name="action" value="fireEmployee">FIRE</button>
        <a th:href="@{'/employee/download/' + ${cvAttachmentId}}">
          Pobierz CV
        </a>
      </form>
    </main>

    <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
  </body>
</html>
