<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>Human Resource Menagment</title>
  </head>
  <body>
  <!-- header -->
    <div th:replace="~{header :: header}">...</div>
  <!-- //header -->

    <main>
      <ul>
        <li th:each="error : ${#fields.errors('hrUserQuery.*')}" th:text="${error}" />
      </ul>
      <form
              th:action="@{'/admin/updatedatajoboffer'}"
        method="post"
        th:object="${hrUserQuery}"
      >
        <label >Nazwa:</label>
        <input type="text" th:field="*{firstName}" />

        <label >Poziom:</label>
        <input type="text" th:field="*{lastName}" />

        <label >Wymagania:</label>
        <input type="text" th:field="*{email}" />

        <label >Opis:</label>
        <input type="text" th:field="*{roleName}"/>

        <input type="hidden" name="jobOfferId" th:value="${hrUserId}" />

        <button>DELETE</button>
      </form>
    </main>

    <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
  </body>
</html>
