<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>Human Resource Menagment</title>
  </head>
  <body>
  <!-- header -->
    <div th:replace="~{header :: header}">...</div>
  <!-- //header -->

    <main>
      <ul>
        <li th:each="error : ${#fields.errors('hrUserQuery.*')}" th:text="${error}" />
      </ul>
      <form
              th:action="@{'/user/updateuser'}"
        method="post"
        th:object="${hrUserQuery}"
      >
        <label >Imie:</label>
        <input type="text" th:field="*{firstName}" />

        <label >Nazwisko:</label>
        <input type="text" th:field="*{lastName}" />

        <label >Email:</label>
        <input type="text" th:field="*{email}" />

        <label >Rola:</label>
        <select id="status" name="status" th:field="*{roleName}">
          <option th:each="role : ${userRoleOptions}" th:value="${role}" th:text="${role}"></option>
        </select>

        <input type="hidden" name="userId" th:value="${userId}" />

        <button name="action" value="updateData">UPDATE</button>
        <button name="action" value="resetPassword">ResetPassword</button>
        <button name="action" value="delete">DELETE</button>
      </form>
    </main>

    <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
    <!-- //footer block -->
  </body>
</html>
